
<mat-card>
    <mat-list>
        <mat-list-item>
            <h2>Deposit</h2>
            
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="!this.getTicketInfo()['deposit']">
            Cost: ${{this.getDepositCost()}}
            <div class="spacer"></div>
            <app-checkout [amount]="1" [cost]="this.getDepositCost()" (purchase)="this.onPurchase($event)"></app-checkout>
        </mat-list-item>
        {{this.purchaceResponce}}
        <mat-list-item *ngIf="this.getTicketInfo()['deposit']">
            Paid
        </mat-list-item>
    </mat-list>
</mat-card>